* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
}

body {
    background: linear-gradient(to right, #363636, #000000);
}

#title {
    background-color: #000000;
    width: 100vw;
    height: 15vh;
    text-align: center;
    color: white;
    margin-bottom: 15px;
}

form {
    width: 70vw;
    margin: 0 15vw;
}

form label {
    color: white;
}

form input {
    max-width: 100%;
    margin-bottom: 5vh;
}